.expense-item {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: .5rem;
    margin: 10rem;
    background-color: #4b4b4b;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  .item{
    width:  60%;
    margin:auto;
    padding: 1rem;
    display: flex ;
    flex-direction: column;
    text-align: left;
  }
  .expense-item h2 {
    color: #3a3a3a;
    font-size: 1.5rem;
    flex: 1;
    color: white;
    text-align: left; 
  }

  .expense-item button{
    font: inherit;
    cursor: pointer;
    padding: .5rem .8rem;
    border: 2px solid #302c2b;
    background-color: #e93e13;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }

  .expense-item p {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: auto;
    color: white;
    word-spacing: 6px;

  }